@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;700&display=swap");

:root{
  --font-body: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
}

body{
  background: var(--light);
  font-family: var(--font-body);
  margin: 0;
}

a {
  text-decoration: none;
}
