@import url("https://fonts.googleapis.com/css2?family=Varta:wght@300;600&display=swap");

:root{
  --font-body: 'Varta', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
}

body{
  background: var(--light);
  font-family: var(--font-body);
  margin: 0;
}

a {
  text-decoration: none;
}
